body{
    background-color: blue;
    font-family: "Roboto", sans-serif;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
form{
    background-color: white;
    width: 400px;
    padding: 30px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
button{
    width: 400px;
    background-color: blue;
}